<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adopta Pets</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/adopta-pets/css/ghpages-materialize.css">
    <link rel="stylesheet" href="/adopta-pets/css/adoptapets.css">
    <link rel="stylesheet" href="/adopta-pets/css/style.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
  </head>
  <body>
    <header>
        <% include ../menu.ejs %>
      </header>
    <main>
      <% include ../navbar %>
      <div class="row">
        <div class="col s12 m9 l10" style="padding: 0">
          <% include ../header %>
          <div class="container">
            <div class="section scrollspy" id="session">
              <div class="row center">
                <h3 class="light header icon ap-dog-6 orange-text"> Recuperación de Contraseña</h3>
                <p class="col s12 m8 offset-m2 caption">Ingresa la dirección de Correo Electrónico asociado a la cuenta para recibir información con los pasos de reestablecimiento de la contraseña.</p>
              </div>
              <% if (message.length > 0) { %>
                <div class="row" id="alert_box">
                  <div class="col s12">
                    <div class="card red darken-1">
                      <div class="row">
                        <div class="col s12 m10">
                          <div class="white-text">
                            <blockquote><%= message %></blockquote>
                          </div>
                        </div>
                        <div class="col s12 m2">
                          <i class="fa fa-times icon_style" id="alert_close" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% } %>
              <div class="row">
                <form action="/adopta-pets/account/emailRecovery" method="post">
                  <div class="row">
                    <div class="input-field col m6 s12 offset-m3">
                      <i class="material-icons prefix">email</i>
                      <input type="email" id="user" name="email" class="validate" autocomplete="off" required="" aria-required="true">
                      <label for="user">Email </label>
                    </div>
                  </div>
                  <div class="row center">
                    <div class="col s12">
                      <button class="btn waves-effect waves-light yellow darken-2" type="submit">Enviar</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="divider"></div>
            <h1 class="center icon ap-dog-6"></h1>
          </div>
        </div>
        <div class="col hide-on-small-only m3 l2">
          <div class="toc-wrapper pinned">
            <ul class="section table-of-contents">
              <li><a href="#session">Recuperación de Contraseña</a></li>
              <li><a href="#contact">Contacto</a></li>
            </ul>
          </div>
        </div>
      </div>
    </main>
    <% include ../footer %>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script type="text/javascript">
      (function($) {
        $(function() {
          $('.button-collapse').sideNav();
          $('.parallax').parallax();
          $('.scrollspy').scrollSpy();
          $("#alert_close").click(() => $("#alert_box").fadeOut("slow"));
        }); // end of document ready
      })(jQuery); // end of jQuery name space
    </script>
  </body>
</html>
