<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adopta Pets</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/css/ghpages-materialize.css">
    <link rel="stylesheet" href="/css/adoptapets.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <main>
      <header>
        <% include ../menu.ejs %>
      </header>
      <div class="row">
        <div class="col s12 m9 l10">
          <div class="parallax-container">
            <div class="parallax"><img src="/img/fondo.png"></div>
          </div>
          <div class="container">
            <div class="section scrollspy" id="session">
              <div class="row center">
                <h3 class="light header icon ap-dog-6"> Recuperación de Contraseña</h3>
                <p class="col s12 m8 offset-m2 caption">Ingresa la dirección de Correo Electrónico asociado a la cuenta para recibir información con los pasos de reestablecimiento de la contraseña.</p>
              </div>
              <div class="row">
                <form action="" method="post">
                  <div class="row">
                    <div class="input-field col m6 s12 offset-m3">
                      <i class="material-icons prefix">email</i>
                      <input type="email" id="user" name="email" class="validate" autocomplete="off" required="" aria-required="true">
                      <label for="user">Email </label>
                    </div>
                  </div>
                  <div class="row center">
                    <div class="col s12">
                      <input class="btn waves-effect waves-light yellow darken-2" type="submit" value="Enviar">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col hide-on-small-only m3 l2">
          <div class="toc-wrapper pinned">
            <ul class="section table-of-contents">
              <li><a href="#session">Recuperación de Contraseña</a></li>
            </ul>
          </div>
        </div>
      </div>
    </main>
    <% include ../footer %>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script type="text/javascript">
      (function($) {
        $(function() {
          $('.button-collapse').sideNav();
        }); // end of document ready
      })(jQuery); // end of jQuery name space
    </script>
    <script type="text/javascript">
      (function($) {
        $('.parallax').parallax();
      })(jQuery); // end of jQuery name space
    </script>
    <script type="text/javascript">
      (function($) {
        $('.scrollspy').scrollSpy();
      })(jQuery); // end of jQuery name space
    </script>
  </body>
</html>
