<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adopta Pets</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://file.myfontastic.com/e5H9LUj5bTPs52rQ4f96C6/icons.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/ghpages-materialize.css">
    <link rel="stylesheet" href="/css/adoptapets.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <% include ../menu.ejs %>
    </header>
    <main>
      <% include ../navbar %>
      <div class="row">
        <div class="col s12 m9 l10" style="padding: 0">
          <% include ../header %>
          <div class="container">
            <div class="scrollspy" id="post">
              <div class="section scrollspy">
                <div class="row center">
                    <h3 class="light header icon ap-dog-2 orange-text"> Publicaciones</h3>
                    <p>Mira mascotas en adopción.</p>
                  </div>
                  <% for (let pub of publications) { %>
                  <div class="row">
                    <h5 class="center amber-text"><%= pub.features.name %></h3>
                    <div class="col l4 m6 s12">
                      <div class="card-image">
                        <% if(pub.photos.length > 0) { %>
                          <div class="row">
                            <div class="slider">
                              <ul class="slides">
                                <% for (let i = 0; i < pub.photos.length; i++) { %>
                                  <li><img src="/uploads/<%= pub.photos[i] %>"></li>
                                <% } %>
                              </ul>
                            </div>
                          </div>
                        <% } %>
                      </div>
                    </div>
                    <div class="col l8 m6 s12">
                      <div class="row">
                        <h5 class="center icon ap-cat-7"> Características</h5>
                        <div class="input-field col l6 m12 s6">
                          <i class="material-icons prefix">color_lens</i>
                          <input type="text" id="pet.color" name="pet.color" readonly=""
                            <% if (pub.features.color === 'blanco') { %> value="Blanco" <% } %>
                            <% if (pub.features.color === 'negro') { %> value="Negro" <% } %>
                            <% if (pub.features.color === 'cafe') { %> value="Café/Chocolate" <% } %>
                            <% if (pub.features.color === 'gris') { %> value="Gris/Plata/Azul" <% } %>
                            <% if (pub.features.color === 'mirlo') { %> value="Mirlo" <% } %>
                            <% if (pub.features.color === 'dorado') { %> value="Dorado/Naranja" <% } %>
                            <% if (pub.features.color === 'gris-cafe') { %> value="Gris y Café" <% } %>
                            <% if (pub.features.color === 'amarillo') { %> value="Amarillo/Pardo" <% } %>
                            <% if (pub.features.color === 'tricolor') { %> value="Café y Negro y Blanco" <% } %>
                            aria-required="true">
                          <label for="pet.color">Color</label>
                        </div>
                        <div class="input-field col l6 m12 s6">
                          <i class="material-icons prefix">zoom_out_map</i>
                          <input type="text" id="pet.size" name="pet.size" readonly=""
                            <% if (pub.features.size === 'pequeño') { %>  value="Pequeño(11 kg o menos)" <% } %>
                            <% if (pub.features.size === 'mediano') { %>  value="Mediano(12-27 kg)" <% } %>
                            <% if (pub.features.size === 'grande') { %>  value="Grande(28-45 kg)" <% } %>
                            <% if (pub.features.size === 'extra') { %>  value="Extra Grande(46 kg o más)" <% } %>
                            aria-required="true">
                          <label for="pet.size">Tamaño</label>
                        </div>
                        <div class="input-field col l6 m6 s12">
                          <div class="col s8">
                            <i class="material-icons prefix">add_circle</i>
                            <input type="number" id="pet.age" name="pet.age" readonly="" value="<%= pub.features.age %>">
                            <label for="pet.age">Edad</label>
                          </div>
                          <div class="col s4">
                            <input name="pet.time" id="pet.time" readonly
                              <% if (pub.features.time === 'mes') { %> value="Mes(es)" <% } %>
                              <% if (pub.features.time === 'año') { %> value="Año(s)" <% } %>
                              aria-required="true">
                          </div>
                        </div>
                        <div class="input-field col l6 m12 s6">
                          <i class="material-icons prefix">pets</i>
                          <input type="text" id="pet.gender" name="pet.gender" readonly=""
                            <% if(pub.features.gender === 'm') { %>
                              value="Macho"
                            <% } else { %>
                              value="Hembra"
                            <% } %>
                          aria-required="true">
                          <label for="pet.gender">Sexo</label>
                        </div>
                        <div class="input-field col m6 s12">
                          <i class="icon ap-dog-2 prefix"></i>
                          <input type="text" id="pet.type" name="pet.type" readonly=""
                            <% if(pub.features.type === 'gato') { %>
                              value="Gato"
                            <% } else { %>
                              value="Perro"
                            <% } %>
                          aria-required="true">
                          <label for="pet.type">Tipo</label>
                        </div>
                      </div>
                      <div class="center input-field">
                        <a class="btn waves-effect waves-light cyan darken-2" href="/adopta-pets/publications/<%= pub._id  %>">Ver más</a>
                      </div>
                    </div>
                  </div>
                  <div class="divider"></div>
                <% } %>
              </div>
            </div>
            <h1 class="center icon ap-dog-2"></h1>
          </div>
        </div>
        <div class="col hide-on-small-only m3 l2">
          <div class="toc-wrapper pinned">
            <ul class="section table-of-contents">
              <li><a href="#post">Publicaciones</a></li>
              <li><a href="#contact">Contacto</a></li>
            </ul>
          </div>
        </div>
      </div>
    </main>
    <% include ../footer %>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script src="/js/management.js"></script>
    <script type="text/javascript">
      (function($) {
        $(function() {
          $('.button-collapse').sideNav();
          $('.parallax').parallax();
          $('.scrollspy').scrollSpy();
          $('.slider').slider();
        }); // end of document ready
      })(jQuery); // end of jQuery name space
    </script>
  </body>
</html>
