<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= publication.features.name %></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://file.myfontastic.com/e5H9LUj5bTPs52rQ4f96C6/icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/adopta-pets/css/ghpages-materialize.css">
    <link rel="stylesheet" href="/adopta-pets/css/leaflet.css">
    <link rel="stylesheet" href="/adopta-pets/css/esri-leaflet-geocoder.css">
    <link rel="stylesheet" href="/adopta-pets/css/Control.OSMGeocoder.css">
    <link rel="stylesheet" href="/adopta-pets/css/adoptapets.css">
    <link rel="stylesheet" href="/adopta-pets/css/style.css">
  </head>
  <body>
  <h3 class="light header orange-text"><%= publication.features.name %></h3>
  <p>Todo lo que debes saber sobre esta mascota.</p>
  <% if(publication.photos.length > 0) { %>
    <div class="row">
      <img src="/adopta-pets/uploads/<%= publication.photos[0] %>">
    </div>
    <% } else { %>
      <% if(publication.features.type === 'gato') { %>
        <img class="materialboxed" width="100%" src="/adopta-pets/img/default-cat.svg">
      <% } else { %>
        <img class="materialboxed" width="100%" src="/adopta-pets/img/default-dog.svg">
      <% } %>
    <% } %>
    <footer>
   <%= publication.features.name %>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script src="/adopta-pets/js/leaflet.js"></script>
    <script src="/adopta-pets/js/Control.OSMGeocoder.js"></script>
    <script src="/adopta-pets/js/esri-leaflet.js"></script>
    <script src="/adopta-pets/js/esri-leaflet-geocoder.js"></script>
    <script src="/adopta-pets/js/maps.js"></script>
    <script type="text/javascript">
      // window.location.href = window.location.href.replace("facebook", "");
      (function($) {
        $(function() {
          $('.button-collapse').sideNav();
          $('.parallax').parallax();
          $('.scrollspy').scrollSpy();
          $('select').material_select();
          $('.slider').slider();
        }); // end of document ready
      })(jQuery); // end of jQuery name space
    </script>
  </body>
</html>
