<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adopta Pets</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://file.myfontastic.com/e5H9LUj5bTPs52rQ4f96C6/icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/ghpages-materialize.css">
    <link rel="stylesheet" href="/css/adoptapets.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <% include ../menu.ejs %>
    </header>
    <main>
      <% include ../navbar %>
      <div class="row">
        <div class="col s12 m9 l10" style="padding: 0">
          <% include ../header %>
          <div class="container">
            <div id="session">
              <div class="scrollspy" id="post">
                <div class="row center">
                  <h3 class="light header icon ap-cat-3 orange-text"> Publicación</h3>
                  <p>Publica una mascota en adopción.</p>
                </div>
              </div>
              <div class="divider"></div>
              <div class="row">
                <form action="/adopta-pets/publications/new" id="publication-form" method="post" enctype="multipart/form-data">
                  <div class="scrollspy" id="pet">
                    <div class="row center">
                      <h4 class="light header icon ap-dog-8 amber-text"> Información de la Mascota</h4>
                    </div>
                    <div class="row">
                      <div class="input-field col m6 s12">
                        <i class="material-icons prefix">color_lens</i>
                        <select name="pet.color" class="validate" required="">
                          <option value="" disabled selected>Color Predominante</option>
                          <option value="blanco">Blanco</option>
                          <option value="negro">Negro</option>
                          <option value="cafe">Café/Chocolate</option>
                          <option value="gris">Gris/Plata/Azul</option>
                          <option value="mirlo">Mirlo</option>
                          <option value="dorado">Dorado/Naranja</option>
                          <option value="gris-cafe">Gris y Café</option>
                          <option value="amarillo">Amarillo/Pardo</option>
                          <option value="tricolor">Café y Negro y Blanco</option>
                        </select>
                      </div>
                      <div class="input-field col m6 s12">
                        <i class="material-icons prefix">zoom_out_map</i>
                        <select name="pet.size" class="validate" required="">
                          <option value="" disabled selected>Tamaño</option>
                          <option value="pequeño">Pequeño(11 kg o menos)</option>
                          <option value="mediano">Mediano(12-27 kg)</option>
                          <option value="grande">Grande(28-45 kg)</option>
                          <option value="extra">Extra Grande(46 kg o más)</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col m6 s12">
                        <i class="icon ap-dog-3 prefix"></i>
                        <input type="text" id="pet.name" name="pet.name" class="validate" autocomplete="off" required="" aria-required="true">
                        <label for="pet.name">Nombre</label>
                      </div>
                      <div class="input-field col m6 s12">
                        <div class="col s8">
                          <i class="material-icons prefix">add_circle</i>
                          <input type="number" id="pet.age" name="pet.age" class="validate" autocomplete="off" required="" aria-required="true">
                          <label for="pet.age">Edad</label>
                        </div>
                        <div class="col s4">
                          <select name="pet.time" class="validate" required="">
                            <option value="" disabled selected>Tiempo</option>
                            <option value="mes">Mes(es)</option>
                            <option value="año">Año(s)</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col m6 s12">
                        <i class="material-icons prefix">pets</i>
                        <select name="pet.gender" class="validate" required="">
                          <option value="" disabled selected>Sexo</option>
                          <option value="m">Macho</option>
                          <option value="f">Hembra</option>
                        </select>
                      </div>
                      <div class="input-field col m6 s12">
                        <i class="icon ap-dog-2 prefix"></i>
                        <select name="pet.type" class="validate" required="">
                          <option value="" disabled selected>Tipo</option>
                          <option value="gato">Gato</option>
                          <option value="perro">Perro</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <p class="center red-text"><i>Nota: Recuerda presionar la tecla Ctrl y seleccionar las imágenes que se quieran agregar.</i></p>
                      <div class="input-field col m12 s12 file-field">
                        <div class="btn">
                          <span>
                            ARCHIVO(S)
                          </span>
                          <input type="file" name="pet.photos" class="validate" accept='image/*' multiple required="">
                        </div>
                        <div class="file-path-wrapper">
                          <input class="file-path validate" type="text" placeholder="Sube una o más imágenes(máx.5) .jpg .jpeg ó .png ">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col m12 s12">
                        <i class="material-icons prefix">location_on</i>
                        <!--<input type="text" id="address" name="address" class="validate" autocomplete="off" required="" aria-required="true">-->
                        <label>Ubicacion</label>
                        <input type="hidden" name="address" id="address">
                        <input type="hidden" name="lat" id="lat">
                        <input type="hidden" name="lng" id="lng">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s12 m12">
                        <br>
                        <div id="required-map" style="display: none" class="red">
                          <a class="close" onclick="hideAlert()" aria-label="close">&times;</a>
                          <p></p><strong>Error!</strong> Debe establecer una ubicacion para el cliente antes de registrarlo. Búsque la ubicación en el mapa y haga click alli.
                        </div>
                      </div>
                    </div>
                    <div class="row center">
                      <div class="input-field col m12 s12">
                        <div id="map" style="max-width: 100%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="divider"></div>
                  <div class="scrollspy" id="contact-info">
                    <div class="row center">
                      <h4 class="light header icon ap-cat-8 amber-text"> Información de Contacto</h4>
                    </div>
                    <div class="row">
                      <div class="input-field col m6 s12">
                        <i class="material-icons prefix">phone</i>
                        <input type="text" id="phone" name="phone" class="validate" autocomplete="off" value="<%= user.phone %>" required="" aria-required="true">
                        <label for="phone">Teléfono</label>
                      </div>
                      <div class="input-field col m6 s12">
                        <i class="material-icons prefix">email</i>
                        <input type="text" id="email" name="email" class="validate" autocomplete="off" value="<%= user.email %>" required="" aria-required="true">
                        <label for="email">E-mail</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col m12 s12">
                        <i class="material-icons prefix">assignment</i>
                        <textarea id="description" name="description" class="materialize-textarea validate" autocomplete="off" aria-required="true"></textarea>
                        <label for="description">Descripción</label>
                      </div>
                    </div>
                  </div>
                  <div class="row center">
                    <div class="col s12">
                      <input class="btn waves-effect waves-light light-blue" type="button" id="save" value="Enviar">
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="divider"></div>
            <h1 class="center icon ap-cat-3"></h1>
          </div>
        </div>
        <div class="col hide-on-small-only m3 l2">
          <div class="toc-wrapper pinned">
            <ul class="section table-of-contents">
              <li><a href="#post">Publicación</a></li>
              <li><a href="#pet">Información Mascota</a></li>
              <li><a href="#contact-info">Información Contacto</a></li>
              <li><a href="#contact">Contacto</a></li>
            </ul>
          </div>
        </div>
      </div>
    </main>
    <% include ../footer %>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7NUMl0ZdbpgytjC5N3nwIps43cXbeYpU"></script>
    <script src="/js/geolocation.js"></script>
    <script type="text/javascript">
      (function($) {
        $(function() {
          $('.button-collapse').sideNav();
          $('.parallax').parallax();
          $('.scrollspy').scrollSpy();
          $('select').material_select();
        }); // end of document ready
      })(jQuery); // end of jQuery name space
    </script>
  </body>
</html>
