<footer class="page-footer scrollspy" id="contact">
  <div class="container">
    <div class="row">
      <div class="col l4 s12">
        <h5 class="white-text">Gracias por visitarnos</h5>
        <p class="grey-text text-lighten-4">Tu apoyo podrá contribuir al mejoramiento y sostenimiento de nuestra aplicación, por ello si quieres apoyarnos envianos tus datos de contacto a continuación
        </p>
      </div>
      <div class="col l8 s12">
        <h5 class="white-text ap-dog-8"> ¡Danos tu opinión!</h5>
        <form action="/adopta-pets/contact" method="post">
          <div class="row">
            <div class="input-field col m6 s12">
              <i class="material-icons prefix">email</i>
              <input type="email" id="email" name="email" class="validate white-text" autocomplete="off" required="" aria-required="true">
              <label for="email">Email </label>
            </div>
            <div class="input-field col m6 s12">
              <i class="material-icons prefix">person</i>
              <input type="text" id="fullname" name="fullname" class="validate white-text" required="" aria-required="true">
              <label for="fullname">Nombre(s) </label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col m9 s12">
              <textarea id="msg" name="msg" class="materialize-textarea white-text" class="validate" required=""></textarea>
              <label for="msg">Mensaje</label>
            </div><br>
            <div class="center input-field col m3 s12">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button class="btn waves-effect waves-light green" type="submit">Enviar</button>
            </div>
          </div>
        </form>
      </div>
      <% if (count > 0) { %>
        <div class="row">
          <div class="col m6 s12 white-text">
            <h4 class="icon ap-cat-4">Mascotas adoptadas:</h4>
            <span><%= count %><span>
          </div>
        </div>
      <% } %>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017, All rights reserved.
      <!--<a class="grey-text text-lighten-4 right" href="/">MIT License</a>-->
    </div>
  </div>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-98165340-1', 'auto');
  ga('send', 'pageview');

</script>
