<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l4 s12">
        <h5 class="white-text">Help Materialize Grow</h5>
        <p class="grey-text text-lighten-4">We hope you have enjoyed using Materialize! If you feel Materialize has helped you out and want to support the team, send us over a donation! Any amount would help support and continue development on this project and is greatly appreciated.
        </p>
      </div>
      <div class="col l8 s12">
        <h5 class="white-text ap-dog-8"> ¡Danos tu opinión!</h5>
        <form action="session/login" method="post">
          <div class="row">
            <div class="input-field col m6 s12">
              <i class="material-icons prefix">email</i>
              <input type="email" id="user" name="email" class="validate" autocomplete="off" required="" aria-required="true">
              <label for="user">Email </label>
            </div>
            <div class="input-field col m6 s12">
              <i class="material-icons prefix">lock</i>
              <input type="password" id="pwd" name="pwd" class="validate" required="" aria-required="true">
              <label for="pwd">Contraseña </label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col m9 s12">
              <textarea id="textarea1" class="materialize-textarea"></textarea>
              <label for="textarea1">Textarea</label>
            </div>
            <div class="center input-field col m3 s12">
              <input class="btn waves-effect waves-light green" type="submit" name="login" value="Enviar">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 ..., All rights reserved.
      <a class="grey-text text-lighten-4 right" href="/">MIT License</a>
    </div>
  </div>
</footer>