<div class="container">
  <!--<a href="#" id="menu" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle hide-on-large-only"><i class="material-icons">menu</i>
  </a>-->
</div>
<ul id="nav-mobile" class="side-nav fixed">
  <li class="logo">
    <a id="logo-container" class="brand-logo">
      <div class="icon ap-sm-adoptapets"></div>
    </a>
  </li>
  <!-- <li class="search">
    <div class="search-wrapper card">
      <input id="search"><i class="material-icons">search</i>
      <div class="search-results"></div>
    </div>
  </li> -->
  <li><a href="/session/login" class="waves-effect waves-light green btn" style="color:white">Iniciar Sesión</a></li>
  <li><a href="/users/register" class="waves-effect waves-light orange btn" style="color:white">Crear Cuenta</a></li>
  <div class="divider"></div>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li class="bold"><a href="/" class="waves-effect waves-light"><i class="material-icons prefix">info</i>Acerca de</a></li>
      <li class="bold"><a href="/publications" class="waves-effect waves-light"><i class="material-icons prefix">pets</i>Mascotas en Adopción</a>
      </li>
      <li class="bold"><a href="/publications/new" class="waves-effect waves-light"><i class="material-icons prefix">add_circle</i>Agregar Mascota</a>
      </li>
      <li class="bold"><a href="/publications/search" class="waves-effect waves-light"><i class="material-icons prefix">search</i>Buscar Mascotas</a>
      <li class="bold"><a class="collapsible-header  waves-effect waves-light"><i class="material-icons prefix">person</i>USUARIO</a>
        <div class="collapsible-body">
          <ul>
            <li><a href="/profile">Perfíl</a></li>
            <li><a href="/account/newPassword">Recuperar Contraseña</a></li>
          </ul>
        </div>
      </li>
      <% if (typeof(session) == 'object' && session) { %>
        <% if (session.state === '1') { %>
          <li class="bold"><a class="collapsible-header  waves-effect waves-light"><i class="material-icons prefix">supervisor_account</i>ADMIN</a>
            <div class="collapsible-body">
              <ul>
              <li><a href="/users/admin">Usuarios</a></li>
              <li><a href="/users/pending/deactivate">Desactivaciones pendientes</a></li>
              </ul>
            </div>
          </li>
        <% } %>
      <% } %>
    </ul>
  </li>
  <% if (typeof(session) == 'object' && session) { %>
    <div class="divider"></div>
    <li>
      <a href="#" id="logout" class="waves-effect waves-light red btn" style="color:white">Salir</a>
      <form action="/session/logout?_method=delete" method="post" id="logout-form"></form>
    </li>
    <script>
      document.querySelector("#logout").addEventListener("click", ev => {
        ev.preventDefault();
        document.querySelector('#logout-form').submit();
      });
    </script>
  <% } %>
</ul>
