<div class="container">
  <a href="#" id="menu" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle hide-on-large-only"><i class="material-icons">menu</i>
  </a>
</div>
<ul id="nav-mobile" class="side-nav fixed">
  <li class="logo">
    <a id="logo-container" class="brand-logo">
      <div class="icon ap-sm-adoptapets"></div>
    </a>
  </li>
  <!-- <li class="search">
    <div class="search-wrapper card">
      <input id="search"><i class="material-icons">search</i>
      <div class="search-results"></div>
    </div>
  </li> -->
  <li><a href="/session/login" class="waves-effect waves-light green btn" style="color:white">Iniciar Sesión</a></li>
  <li><a href="themes.html" class="waves-effect waves-light orange btn"  style="color:white">Crear Cuenta</a></li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li class="bold"><a href="/" class="waves-effect waves-light">Acerca de</a></li>
      <li class="bold"><a class="collapsible-header  waves-effect waves-light">Components</a>
        <div class="collapsible-body">
          <ul>
            <li><a href="badges.html">Badges</a></li>
            <li><a href="buttons.html">Buttons</a></li>
            <li><a href="breadcrumbs.html">Breadcrumbs</a></li>
            <li><a href="cards.html">Cards</a></li>
            <li><a href="chips.html">Chips</a></li>
            <li><a href="collections.html">Collections</a></li>
            <li><a href="footer.html">Footer</a></li>
            <li><a href="forms.html">Forms</a></li>
            <li><a href="icons.html">Icons</a></li>
            <li><a href="navbar.html">Navbar</a></li>
            <li><a href="pagination.html">Pagination</a></li>
            <li><a href="preloader.html">Preloader</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
</ul>
