<div class="hide-on-large-only">
  <div class="navbar-fixed">
    <nav style="background: #8F6F40">
      <div class="nav-wrapper">
        <!--<a href="#!" class="brand-logo">Logo</a>-->
          <a href="#" id="menu" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle hide-on-large-only"><i class="material-icons">menu</i></a>
        <img src="/img/white/title_w.svg" alt="" style="max-width: 60%; height: 60px" />
      </div>
    </nav>
  </div>
</div>
