.brand-logo {
  color: #785221 !important;
  font-size: 9em !important;
}

ul.side-nav.fixed li a {
  color: #785221;
}

#index-banner {
  background-color: #8F6F40;
}

#icon-intro {
  color: #fff;
  font-size: 20em;
}

#icon-intro:before {
  bottom: 0;
}

.page-footer {
  background-color: #8F6F40;
}

.parallax-container {
  height: 300px;
}

#map {
  height: 65vh;
  width: 70vw;
}

@media only screen and (max-width: 700px) {
  #map {
    height: 65vh;
    width: 92vw;
  }
}
