<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adopta Pets</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/css/ghpages-materialize.css">
    <link rel="stylesheet" href="/css/adoptapets.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <main>
      <div class="container">
        <div class="row">
          <form action="/users/register" method="post">
            <div class="row">
              <div class="input-field col l6 col m6 col s12">
                <i class="material-icons prefix">account_circle</i>
                <input type="text" id="firstname" name="firstname" class="validate" autocomplete="off" required="" aria-required="true">
                <label for="firstname">Nombre(s) </label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col l6 col m6 col s12">
                <i class="material-icons prefix">account_circle</i>
                <input type="text" id="lastname" name="lastname" class="validate" autocomplete="off" required="" aria-required="true">
                <label for="lastname">Apellido(s) </label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col l6 col m6 col s12">
                <i class="material-icons prefix">email</i>
                <input type="email" id="user" name="email" class="validate" autocomplete="off" required="" aria-required="true">
                <label for="user">Email </label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col l6 col m6 col s12">
                <i class="material-icons prefix">location_on</i>
                <input type="text" id="address" name="address" class="validate" autocomplete="off" required="" aria-required="true">
                <label for="address">Dirección </label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col l6 col m6 col s12">
                <i class="material-icons prefix">phone</i>
                <input type="text" id="phone" name="phone" class="validate" autocomplete="off" required="" aria-required="true">
                <label for="user">Teléfono </label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col l6 col m6 col s12">
                <i class="material-icons prefix">lock</i>
                <input type="password" id="pwd" name="pwd" class="validate" required="" aria-required="true">
                <label for="pwd">Contraseña </label>
              </div>
            </div>
            <div class="row">
              <div class="col offset-l2 offset-m2 offset-s3 l6 m6 s8">
                <input class="btn waves-effect waves-light cyan darken-2" type="submit" value="Enviar">
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  </body>
</html>
